
html,body{
    height: 100%;
    margin:0;
    padding:0;
    font-family: sans-serif;
}

p{ font-weight: 200;}

.container{
    height: 100%;
    max-width: 800px;
    margin: 0 auto;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}
form{
    margin: 0 auto;
}
h1{
    border-bottom: 1px solid #333;
}

label{ width: 30%; display: inline-block; }

input{ width: auto}

.btn{
    border: 1px solid transparent;
    padding: 0.5em 1em;
    font-size: 1em;
    border-radius: 1em;
    background-color: #3598A8;
    color: #FFF;
}

.btn-push:hover,
.btn-push:focus{
    background-color: #FFF;
    color: #3598A8;
    box-shadow: 0 0 3px #000;
}

.msg{

    display: inline-block;
    margin-top: 2em;
    padding: 3px 8px;
    border-radius: 0.2em;
    font-weight: 600;
}

.erro{
     background-color: #DA4444;
     color: #FFF;
}

.ok{
    background-color: #37B3C7;
    color: #FFF;
}

.warning{
    background-color: #FFFF22;
    color:#000;
}

.smile{
    transform: rotateZ(90deg);
    position: absolute;
    margin-left: 1em;
}


.nav{
    padding: 0;
}
.nav-list{
    padding: 1em 0;
}
.nav-list li{
    padding: 3em 0;
    list-style: none;
    display: inline;
    margin-right: 1em;
}

.nav-item {
    text-decoration: none;
    color: #fff;
    background-color: #000;
    padding: 0.5em 1em;
    border-radius: 20px;
}

.nav-item.active{
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
}


.nav-item:hover,
.nav-item:focus{
    box-shadow: 1px 1px 1px #000;
}

input[type=text]{
    padding:0.5em 1em;
}

label,input[type=text]{
    font-size: 1em;
}